In [1]:
%pip install pandas lxml --upgrade

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.3)
Collecting pandas
  Downloading pandas-2.2.1-cp310-cp310-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.9.1)
Collecting lxml
  Downloading lxml-5.2.1-cp310-cp310-macosx_10_9_universal2.whl.metadata (3.4 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp310-cp310-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 9.9 MB/s eta 0:00:00a 0:00:01m
Downloading lxml-5.2.1-cp310-cp310-macosx_10_9_universal2.whl (8.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.5/8.5 MB 10.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml, pandas
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.1
    Uninstalling lxml-4.9.1:
      Successfully uninstalled lxml-4.9.1
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
Successfully installed lxml-5.2.1 pandas-2.2.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [2]:
tables = pd.read_html(URL)

In [3]:
tables[0].head()

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.80,r,Pan Zhanle,China,11 February 2024,World Championships,"Doha, Qatar",[13] [14]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[15][16][17]
3,400m freestyle,3:40.07,ss,Paul Biedermann,Germany,26 July 2009,World Championships,"Rome, Italy",[18][19][20]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[21][22]

In [4]:
df = tables[0][["Event", "Time"]]
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.80
2  200m freestyle  1:42.00
3  400m freestyle  3:40.07
4  800m freestyle  7:32.12

In [5]:
df.to_dict()

{'Event': {0: '50m freestyle',
  1: '100m freestyle',
  2: '200m freestyle',
  3: '400m freestyle',
  4: '800m freestyle',
  5: '1500m freestyle',
  6: '50m backstroke',
  7: '100m backstroke',
  8: '200m backstroke',
  9: '50m breaststroke',
  10: '100m breaststroke',
  11: '200m breaststroke',
  12: '50m butterfly',
  13: '100m butterfly',
  14: '200m butterfly',
  15: '200m individual medley',
  16: '400m individual medley',
  17: '4 × 100 m freestyle relay',
  18: '4 × 200 m freestyle relay',
  19: '4 × 100 m medley relay'},
 'Time': {0: '20.91',
  1: '46.80',
  2: '1:42.00',
  3: '3:40.07',
  4: '7:32.12',
  5: '14:31.02',
  6: '23.55',
  7: '51.60',
  8: '1:51.92',
  9: '25.95',
  10: '56.88',
  11: '2:05.48',
  12: '22.27',
  13: '49.45',
  14: '1:50.34',
  15: '1:54.00',
  16: '4:02.50',
  17: '3:08.24',
  18: '6:58.55',
  19: '3:26.78'}}

In [6]:
df.tail()

                        Event     Time
15     200m individual medley  1:54.00
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [7]:
df[df["Event"].str.contains("relay")]

                        Event     Time
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [8]:
df[~df["Event"].str.contains("relay")]

                     Event      Time
0            50m freestyle     20.91
1           100m freestyle     46.80
2           200m freestyle   1:42.00
3           400m freestyle   3:40.07
4           800m freestyle   7:32.12
5          1500m freestyle  14:31.02
6           50m backstroke     23.55
7          100m backstroke     51.60
8          200m backstroke   1:51.92
9         50m breaststroke     25.95
10       100m breaststroke     56.88
11       200m breaststroke   2:05.48
12           50m butterfly     22.27
13          100m butterfly     49.45
14          200m butterfly   1:50.34
15  200m individual medley   1:54.00
16  400m individual medley   4:02.50

In [9]:
df = df[~df["Event"].str.contains("relay")]

In [10]:
df

                     Event      Time
0            50m freestyle     20.91
1           100m freestyle     46.80
2           200m freestyle   1:42.00
3           400m freestyle   3:40.07
4           800m freestyle   7:32.12
5          1500m freestyle  14:31.02
6           50m backstroke     23.55
7          100m backstroke     51.60
8          200m backstroke   1:51.92
9         50m breaststroke     25.95
10       100m breaststroke     56.88
11       200m breaststroke   2:05.48
12           50m butterfly     22.27
13          100m butterfly     49.45
14          200m butterfly   1:50.34
15  200m individual medley   1:54.00
16  400m individual medley   4:02.50

In [11]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.80'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:40.07'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:31.02'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:54.00'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [12]:
df = df.set_index("Event")

In [13]:
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.80
200m freestyle  1:42.00
400m freestyle  3:40.07
800m freestyle  7:32.12

In [14]:
df.to_dict()

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.80',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:31.02',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [15]:
records = {}
records["LC Men"] = df.to_dict()["Time"]

In [16]:
records

{'LC Men': {'50m freestyle': '20.91',
  '100m freestyle': '46.80',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:31.02',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [17]:
RECORDS = (0, 2, 4, 5)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

records = {}
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event", "Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

In [18]:
records

{'LC Men': {'50m freestyle': '20.91',
  '100m freestyle': '46.80',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:31.02',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'},
 'LC Women': {'50m freestyle': '23.61',
  '100m freestyle': '51.71',
  '200m freestyle': '1:52.85',
  '400m freestyle': '3:55.38',
  '800m freestyle': '8:04.79',
  '1500m freestyle': '15:20.48',
  '50m backstroke': '26.86',
  '100m backstroke': '57.33',
  '200m backstroke': '2:03.14',
  '50m breaststroke': '29.16',
  '100m breaststroke': '1:04.13',
  '200m breaststroke': '2:17.55',
  '50m butterfly': '24.43',
  '100m butterfly': '55.48',
  '200m butterfly': '2:01.81',
  '200m individual medley': '2:06.12',
  '400m individual medley': '4:25.87'},
 'SC Men': {'50m freestyle': '20.16',
  '100m freestyle': '44.84',
  '200m freestyle': '1:39.37',
  '400m freestyle': '3:32.25',
  '800m freestyle': '7:20.46',
  '1500m freestyle': '14:06.88',
  '50m backstroke': '22.11',
  '100m backstroke': '48.33',
  '200m backstroke': '1:45.63',
  '50m breaststroke': '24.95',
  '100m breaststroke': '55.28',
  '200m breaststroke': '2:00.16',
  '50m butterfly': '21.75',
  '100m butterfly': '47.78',
  '200m butterfly': '1:46.85',
  '100m individual medley': '49.28',
  '200m individual medley': '1:49.63',
  '400m individual medley': '3:54.81'},
 'SC Women': {'50m freestyle': '22.93',
  '100m freestyle': '50.25',
  '200m freestyle': '1:50.31',
  '400m freestyle': '3:51.30',
  '800m freestyle': '7:57.42',
  '1500m freestyle': '15:08.24',
  '50m backstroke': '25.25',
  '100m backstroke': '54.89',
  '200m backstroke': '1:58.94',
  '50m breaststroke': '28.37',
  '100m breaststroke': '1:02.36',
  '200m breaststroke': '2:14.57',
  '50m butterfly': '24.38',
  '100m butterfly': '54.05',
  '200m butterfly': '1:59.61',
  '100m individual medley': '56.51',
  '200m individual medley': '2:01.86',
  '400m individual medley': '4:18.94'}}

In [19]:
import json

with open("records.json") as jf:
    gazpacho_records = json.load(jf)

In [20]:
records == gazpacho_records

True

In [21]:
records["SC Women"]["100m butterfly"]

'54.05'

In [22]:
gazpacho_records["SC Women"]["100m butterfly"]

'54.05'